<header class="index__header">
    <nav class="index__header__nav">
        <ul class="index__header__nav--menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="index__header__nav--redes">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-spotify"></i></a>
        <a href=""><i class="fa-brands fa-apple"></i></a>
        <a href=""><i class="fa-brands fa-amazon"></i></a>
        </div>
        
    </nav>
</header>