<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header>
    <nav>
        <ul>
         <li>
             <a href="/">Home</a>
         </li>
         <li>
             <a href="/about">About</a>
         </li>
         <li>
             <a href="/music">Music</a>
         </li>
         <li>
             <a href="/contact">Contact</a>
         </li>
     </ul>
     <a href=""><i class="fa-brands fa-twitter"></i></a>
     <a href=""><i class="fa-brands fa-facebook"></i></a>
     <a href=""><i class="fa-brands fa-instagram"></i></a>
     <a href=""><i class="fa-brands fa-spotify"></i></a>
     <a href=""><i class="fa-brands fa-apple"></i></a>
     <a href=""><i class="fa-brands fa-amazon"></i></a>
 </nav>
</header>
<main>
 <h1>about<br>emilia//</h1>
 <section><!-- caja para comentarios -->
    <article>
        <h3>"Seattle based pos star makes</h3>
        <p>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga commodi obcaecati beatae at reprehenderit. </p>
    </article>
 </section>
</main>
</body>
</html>