<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %> 

<body class="index">
    <!-- Aqui la imagen ira como fondo de pantalla -->
    <%- include('../partials/header') %> 
    <main class="index__main">
        <h2 class="index__main--subtitulo">Emilia <br> Cole //</h2>
        <h1 class="index__main--titulo">Twist in my reality</h1>
        
    </main>
</body>

</html>