<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <script src="https://kit.fontawesome.com/95086d397a.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body class="index">
    <!-- Aqui la imagen ira como fondo de pantalla -->
    <header class="index__header">
        <nav class="index__header__nav">
            <ul class="index__header__nav--menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="index__header__nav--redes">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            </div>
            
        </nav>
    </header>
    <main class="index__main">
        <h2 class="index__main--subtitulo">Emilia <br> Cole //</h2>
        <h1 class="index__main--titulo">Twist in my reality</h1>
        
    </main>
</body>

</html>