<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIC</title>
    <script src="https://kit.fontawesome.com/95086d397a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
        </nav>
    </header>
    <main>
        <h1>Music //</h1>
        <h5>Direct links</h5>
        <nav>
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video Organic Love</a></li>
                <li><a href="#street">Video Sweet Love</a></li>
            </ul>
        </nav>
        </section>
        <section>
            <!-- caja para los albumes -->
            <article>
                <!-- caja de album -->
                <article id="album">
                    <h3>album <br> twist in my reality</h3>
                    <img src="/images/emilia-play-list.png" alt="" width="640">

                    <ol>
                        <i class="fa fa-play">Organic Love</i>
                        <i class="fa fa-play">Twist In My Reality</i>
                        <i class="fa fa-play">Street Light</i>
                        <i class="fa fa-play">Lorem ipsum </i>

                    </ol>
                    <a href="#">Go Top</a>
                </article>

                <section>
                    <!-- caja para los videos -->

                    <article id="organic">
                        <!-- caja de video -->
                        <h3>video <br> organic love</h3>
                        <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
                            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <div>
                            <p>Directed by VINCE MALC & EMILIA COLE</p>
                            <p>Edited and Filmed by NICOLAS TROY</p>
                            <p>Produced by NIKI HEART,</p>
                            <p>Wix Films LTD.</p>
                        </div>
                        <a href="#">Go Top</a>
                    </article>
                    <article id="street">
                        <h3>street <br> Street Light</h3>
                        <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0"
                            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <div>
                            <p>Directed by VINCE MALC & EMILIA COLE</p>
                            <p>Edited and Filmed by NICOLAS TROY</p>
                            <p>Produced by NIKI HEART,</p>
                            <p>Wix Films LTD.</p>
                        </div>
                        <a href="#">Go Top</a>
                    </article>
                </section>
    </main>
</body>

</html>