<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 
    <main class="music__main">
        <h1 class="music__main--titulo">Music //</h1>
        <h5>Direct links</h5>
        <nav>
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video Organic Love</a></li>
                <li><a href="#street">Video Sweet Love</a></li>
            </ul>
        </nav>
        </section>
        <section>
            <!-- caja para los albumes -->
            <article>
                <!-- caja de album -->
                <article id="album">
                    <h3>album <br> twist in my reality</h3>
                    <img src="/images/emilia-play-list.png" alt="" width="640">

                    <ol>
                        <i class="fa fa-play">Organic Love</i>
                        <i class="fa fa-play">Twist In My Reality</i>
                        <i class="fa fa-play">Street Light</i>
                        <i class="fa fa-play">Lorem ipsum </i>

                    </ol>
                    <a href="#">Go Top</a>
                </article>

                <section>
                    <!-- caja para los videos -->

                    <article id="organic">
                        <!-- caja de video -->
                        <h3>video <br> organic love</h3>
                        <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
                            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <div>
                            <p>Directed by VINCE MALC & EMILIA COLE</p>
                            <p>Edited and Filmed by NICOLAS TROY</p>
                            <p>Produced by NIKI HEART,</p>
                            <p>Wix Films LTD.</p>
                        </div>
                        <a href="#">Go Top</a>
                    </article>
                    <article id="street">
                        <h3>street <br> Street Light</h3>
                        <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0"
                            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <div>
                            <p>Directed by VINCE MALC & EMILIA COLE</p>
                            <p>Edited and Filmed by NICOLAS TROY</p>
                            <p>Produced by NIKI HEART,</p>
                            <p>Wix Films LTD.</p>
                        </div>
                        <a href="#">Go Top</a>
                    </article>
                </section>
    </main>
</body>

</html>